@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Silas Page</h1>
    <p>The time on the server is <span id="time"></span></p>
</div>
